<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=215886731905255";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<style>
	body {
		background: url('/img/background.png');
	}
	.headline {
		position: absolute;
		top: 0;
		left: 0;
		width: 318px;
		height: 227px;
		background: url('/img/header.png');
		background-size:318px 227px;
		z-index:100;
	}
</style>
</script>
<div class="headline" onclick='$("#noti").show()'>
</div>
<div class="container-responsive">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
<%########################HEADERS#####################%>
				<div style="position:relative;float:right;z-index:200;" >
					<div class="fb-like" data-href="http://www.iamyourfamily.com" data-width="100%" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.iamyourfamily.com" data-hashtags="iamyourfamily">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					<div class="btn-group">
						<a class="btn btn-danger active" id = "family_mode" onclick="family_mode();" href = "#"><%= t :family_mode%></a>
						<a class="btn btn-danger" id = "all_mode" onclick="all_mode()" href = "#"><%= t :all_mode%></a>
					</div>
				</div>
				<div class="clearfix"></div>
<%########################CANVAS#####################%>
				<div class="sigma-parent" id="sigma-example-parent">
					<div class="sigma-expand" id="sigma-example"></div>
				</div>
				<%###########GOOGOE ADSENSE##########%>
				<!--
			<div>
				<style>
					.iamyourfamily-res { width: 320px; height: 50px; }
					@media(max-width: 800px) { .iamyourfamily-res { width: 320px; height: 50px; } }
					@media(min-width: 800px) { .iamyourfamily-res { width: 728px; height: 90px; } }
				</style>
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<ins class="adsbygoogle iamyourfamily-res"
						 style="display:inline-block"
						 data-ad-client="ca-pub-1261983873465389"
						 data-ad-slot="9970772151"></ins>
				<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
			-->
			<%###########GOOGLE ADSENSE END###############%>
		</div>
<%########################DASHBOARD#####################%>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3" id="dashboard">
			<div class="panel panel-danger" style="display:block;min-height:700px;">
				<div class="panel-heading">Dashboard - <%=t :language %> : <a href="/?lang=ko" style="color:white">Kor</a> / <a href="/?lang=en" style="color:white">Eng</a></div>
				<div class="panel-body">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs">
					<li class="active"><a href="#info" data-toggle="tab"><%=t :info%></a></li>
					<li><a href="#rank" data-toggle="tab"><%=t :rank%></a></li>
					<li><a href="#facebook" data-toggle="tab"><%=t :facebook_friends%></a></li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
<%########################INFO TAB#####################%>
					<div class="tab-pane fade in active" id="info">
	<%########################FACEBOOK #####################%>
	<br>
						<%=t :shareinfo %>
						<input type="text" id="share_url" value="http://iamyourfamily.com/<%=@user.id-%>" onclick="$('#share_url').select()" style="margin-top:3px;margin-bottom:6px;width:100%" READONLY/>
						<span style="float:right">
							<%if @facebook_login%>
								<%= link_to "#{t :sign_out}", signout_path, id: "sign_out", class:"btn btn-primary" %>
							<%else%>
								<span class="tooltips" data-toggle="tooltip" data-placement="bottom" title="<%=t :sign_in_info %>">
									<%= link_to "/auth/facebook", id: "sign_in", class:"btn btn-primary" do %>
										<img class="function_icon" src="/img/facebook.png"> <%=t :sign_in%> 
									<%end%>
									</span>
							<%end%>
							<%if @facebook_login%>
								<button type="button" onclick="facebook_post();" class="tooltips btn btn-primary " data-toggle="tooltip" data-placement="bottom" title="<%=t :facebook_share_info %>">
									<img class="function_icon" src="/img/facebook.png"> <%= t :facebook_share%>
								</button>
								<!--<a href="#" onclick="facebook_post();"><img src="/img/fbshare.png" border=0 ></a>-->
							<%else%>
								<!--<div class="fb-share-button" data-href="http://iamyourfamily.com/<%=@user.id%>" data-width="100" data-type="button_count"></div>-->
								<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2f%2Fiamyourfamily.com/<%=@user.id%>" target="_blank">
									<button class="tooltips btn btn-primary " data-toggle="tooltip" data-placement="bottom" title="<%=t :facebook_share_info %>">
				<img class="function_icon" src="/img/facebook.png"> <%= t :facebook_share%>
									</button>
								</a>
							<%end%>
						</span>
						<div style="clear:both"></div>
						<hr>
	<%########################FAMILY#####################%>
						<div style="font-size:18px">
							<p><%=t :iam %>: <%=@user.username-%></p>
							<p>
								<%if @is_father%>
									<%=t :your_founder-%> : <a href="#" onclick="information_dialog(<%=@founder.id%>);"><%=@founder.username%></a>, <%=@founder_depth%><br>
									<%=t :your_father-%> : <a href="#" onclick="information_dialog(<%=@father.id%>);"><%=@father.username%></a>
								<%else%>
									<%=t :dont_have_father%>
								<%end%><br>
								<%=t :child_count %> : <%=@user.node_cnt - 1%>
							</p>
							<p><%=t :rank_node_cnt %> : <%=@node_cnt_rank%><br>
								<%=t :rank_point %> : <%=@point_rank%></p>
							<hr>
		<%########################STATUS#####################%>
							<p class="tooltips" data-toggle="tooltip" data-placement="bottom" title="<%=t :money_info %>">
								<%=t :money %> : <%=t :mark %><%=@user.point-%><%= t :unit %>
							</p>
							<div>
								<p class="tooltips" data-toggle="tooltip" data-placement="bottom" title="<%=t :banner_info %>">
									<%=t :banner %> 
								</p>
								<input type ="text" style="width:73%" id="banner_text" value="<%=@user.banner%>">
								<a href="#" class="btn btn-primary" style="float:right" id="banner_button"><%=t :edit%></a>
							</div>
						</div>
						<hr>
						<div class="btn-group" style="width:100%">
							<a href="#" class="tooltips btn btn-warning function_button" id="independance" data-toggle="tooltip" data-placement="bottom" style="width: 40%" title="<%=t :iinfo %>">
								<img src="/img/ind.gif" class="function_icon">
								<%=t :independance%>
							</a>
							<a href="#" class="tooltips btn btn-warning function_button" id="betray" data-toggle="tooltip" data-placement="bottom" style="width: 29%" title="<%=t :binfo %>">
								<img src="/img/betray.gif" class="function_icon">
								<%=t :betray %>
							</a>
							<a href="#" class="tooltips btn btn-warning function_button" id="seize" data-toggle="tooltip" data-placement="bottom" style="width: 29%" title="<%=t :sinfo %>">
								<img src="/img/seize.gif" class="function_icon">
								<%=t :seize %>
							</a>
						</div>
					</div>
<%########################FACEBOOK FRIEND TAB#####################%>
					<div class="tab-pane fade" id="facebook">
						<h3>
							<%=t :fblist %>
						</h3>
						<input type="text" id="friend_search" placeholder="search">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th><%=t :name %></th>
									<th><%=t :money %></th>
									<th><%=t :invite %></th>
								</tr>
							</thead>
							<tbody id="friends_list">
							</tbody>
						</table>
						<center>
							<ul id="friends_pagination" class="pagination">
							</ul>
						</center>
					</div>
<%########################RANK#####################%>
					<div class="tab-pane fade" id="rank">
						<h3>
							<%=t :rank %>
						</h3>
						<ul class="nav nav-tabs">
							<li class="active"><a href="#rank_node_cnt" data-toggle="tab"><%=t :child_count%></a></li>
							<li><a href="#rank_point" data-toggle="tab"><%=t :money%></a></li>
						</ul>
										<!-- Tab panes -->
						<div class="tab-content">
							<div class="tab-pane fade in active" id="rank_node_cnt">
								<div class="rank_div">
									<table class="table table-striped ">
										<thead>
											<tr>
												<th><%=t :rank%></th>
												<th><%=t :name %></th>
												<th><%=t :child_count %></th>
											</tr>
										</thead>
										<tbody id="rank_node_cnt">
											<%@all_rank_node_cnt.each do |u|%>
												<tr>
													<td><%=u[:rank]%></td>
													<td><a href="#" onclick="information_dialog(<%=u[:id]%>)"><%=u[:name]%></a></td>
													<td><%=u[:node_cnt] -1 %></td>
												</tr>
											<%end%>
										</tbody>
									</table>
								</div>
							</div>
							<div class="tab-pane fade " id="rank_point">
								<div class="rank_div">
									<table class="table table-striped">
										<thead>
											<tr>
												<th><%=t :rank%></th>
												<th><%=t :name %></th>
												<th><%=t :money %></th>
											</tr>
										</thead>
										<tbody id="rank_point">
											<%@all_rank_point.each do |u|%>
												<tr onclick="information_dialog(<%=u[:id]%>)">
													<td><%=u[:rank]%></td>
													<td><a href="#" onclick="information_dialog(<%=u[:id]%>)"><%=u[:name]%></a></td>
													<td><%=u[:point]%></td>
												</tr>
											<%end%>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>

	<div id="dialog" class="dialog_style">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick='dialog_no(1)'>&times;</button>
					<h4 class="modal-title" id="dialog_title">title</h4>	
				</div>
				<div class="modal-body" style="min-height:150px">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<img id="dialog_image" src="" style="width:100px;height:100px">
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
						<table>
							<tr>
								<th><strong><%=t :name%></strong></th>
								<th><span id="dialog_name">Username</span></th>
							</tr>
							<tr>
								<th><strong><%=t :money%></strong></th>
								<th><span id="dialog_point">Point</span></th>
							</tr>
							<tr>
								<th><strong><%=t :child_count%></strong></th>
								<th><span id="dialog_node_cnt">0</span></th>
							</tr>
							<tr>
								<th><strong><%=t :rank_node_cnt%></strong></th>
								<th><span id="dialog_rank_node_cnt">0</span></th>
							</tr>
							<tr>
								<th><strong><%=t :rank_point%></strong></th>
								<th><span id="dialog_rank_point">0</span></th>
							</tr>
						</table>
					</div>
				</div>
				<div class="modal-footer" >
					<div id="dialog_button" class="row-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="noti" class="dialog_style">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick='$("#noti").hide()'>&times;</button>
					<h4 class="modal-title" id="noti_title">I am your family</h4>	
				</div>
				<div class="modal-body" style="min-height:150px">
						<p>
						<%=t(:first_info).html_safe %>
						</p>
				</div>
				<div class="modal-footer">
					<div id="noti_button" class="row-fluid">
						<%if @facebook_login%>
							<%= link_to "#{t :tour}", "#", class:"btn btn-info ", onclick:"$('#noti').hide()" %>
						<%else%>
							<%= link_to "#{t :tour}", "#", class:"btn btn-info ", onclick:"$('#noti').hide()" %>
							<%= link_to "#{t :sign_in}", "/auth/facebook", id: "sign_in", class:"btn btn-primary" %>
						<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<center><addr>iamyourfamily.com@gmail.com</addr></center>
		<h3>Donators</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Introduction</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>멋쟁이 사자처럼<br><a href="http://likelion.net" target="_blank">www.likelion.net</a></td>
					<td>프로그래밍 개발 동아리입니다</td>
					<td>100,000원</td>
				</tr>
				<tr>
					<td>2</td>
					<td></td>
					<td>기부를 원하시면 메일 주세요! 12월 25일까지 광고를 게재하여 드리고, 기부자 이름으로 기부할 예정입니다<br><a href="mailto:iamyourfamily.com@gmail.com"><addr>iamyourfamily.com@gmail.com</addr></a></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
//$(function(){

	var NORMAL = 0;
	var BETRAY = 1;
	var SEIZE = 2;

	var node_id = null;
	var nodes = null;
	var groups = null;
	var function_type = NORMAL; //type : null, betray, seize
	var friends_list = {}
	var original_friends_list = {}
	var friends_cnt = 0
	var original_friends_cnt = 0
	var friends_cnt_per_page = 7
	var limit_page = 0;
	var sigInst = null;

	$(function(){
		groups = <%=@groups%>;
		<%if @is_session_user.nil?%>
			$("#noti").show();
		<%end%>
		
		<%if @is_point_get_login%>
			alert("<%=t :loginearn%> : <%=t :mark%><%=@login_point%><%=t :unit%>")
		<%end%>

		<%=render :partial => 'map/friends'%>
		
		<%=render :partial => 'map/node_click_event'%>

		init('family')
		$(".tooltips").tooltip()

		$("#friend_search").bind("keyup input paste",function(){
			str = $("#friend_search").val().toLowerCase()
			console.log(str);
			if(str == ''){
			console.log("empty");
				friends_list = original_friends_list
				console.log(friends_list)
				friends_list_cnt = original_friends_list.length
			}else{
				var arr_temp = new Array;
				for(i=0;i<original_friends_list.length;i++){
					var check = original_friends_list[i]["name"].toLowerCase().match("^"+str)
					if(!check && original_friends_list[i]["name"].toLowerCase().localeCompare(str)>0)
						break
					if(check){
						arr_temp.push(original_friends_list[i]);
					}
				}
				friends_list = arr_temp
				friends_cnt = arr_temp.length
			}
			friends_pagination(1);
		});
	});
	$("#banner_button").click(function(){
		text = $("#banner_text").val();
		if(getStrByte(text)>20){
			alert("<%=t :dont_over_length%>")
		}else{
			$.ajax({
				url: "/data/save_banner.json",
				type: "POST",
				data: {
					banner_text: text // if user_id == 0 then get session user
				},
				success: function() {
					alert("<%=t :banner_change%>")
					document.location.reload(true)
				}
			});
		}
	});
	function getStrByte(str) {
		var p, len = 0;
		for(p=0; p<str.length; p++) {
			(str.charCodeAt(p) > 255) ? len+=2 : len++;
		}
		return len;
	}

	<%=render :partial => 'map/sigma_js'%>

	function dialog_yes(function_type){
		$.ajax({
			url: "/map/"+function_type,
			type: "POST",
			data: {
				user_id: node_id // if user_id == 0 then get session user
			},
			success: function(data) {
				console.log("+"+function_type)
				console.log(ment_set(function_type))
				alert(ment_set(function_type) + " <%= t :complete%>");
				location.reload(true);
			}
		});
		remove_btn_class();
	}

	function dialog_no(function_type){
		remove_btn_class();
		$("#dialog").hide();
	}

	function friends_page(num){
		var start = friends_cnt_per_page * (num - 1)
		var end = friends_cnt_per_page * num ; 
		var html =""
		for(i=start;i<end;i++){
			if(i >= friends_cnt){
				break;
			}
			html += "<tr>\n"
				+ "<td><img src='" + friends_list[i]["pic"] + "' class='friend_pic'></td>\n"
				+ "<td><a href='" + friends_list[i]["uid"] + "'>" + friends_list[i]["name"] + "</td>\n"
			if(friends_list[i]["joined"] == true){
				html += "<td>" + friends_list[i]["point"] + "</td>\n"
				//TODO change this
					+ "<td><%= t :joined%></td>\n";
			}else{
				html += "<td>-</td>\n"
					+ '<td><a href="/auth/facebook" onclick="invitation('+friends_list[i]["uid"] + ')" class="btn"><button type="button" class="tooltips btn btn-primary btn-xs" data-toggle="tooltip" data-placement="bottom" title="<%=t :invite_info %>"><%=t :invite%></button></a>';
			}

			html += "</tr>\n"
		}
		$("#friends_list").html(html);
	}

	function friends_pagination(page_num){
		if(page_num < 1)
			page_num = 1
		var limit = 5
		var start = limit * (page_num - 1) + 1
		var cnt = parseInt(friends_cnt / friends_cnt_per_page + 0.99)
		var end = limit * page_num
		var html = ""

		html += "<li><a href='#' onclick='friends_pagination("+(page_num - 1)+")'>«</a></li>"
		for(i=start;i<=end;i++){
			if(i >= cnt)
				break;
			html += "<li><a href='#' onclick='friends_page("+ i +");'>" + i + "</a></li>"
		}

		html += "<li><a href='#' onclick='friends_pagination("+(page_num+1)+")'>»</a></li>"
		$("#friends_pagination").html(html);
		friends_page(start);
	}

	function invitation(uid){
		$.ajax({
			url: "/data/send_invitation.json",
			type: "POST",
			data: {
				uid: uid
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert("<%=t :facebookinvited%>")
      },
			success: function(data) {
				alert("<%=t :facebookinvited%>")
			}
		});
	}

	function facebook_post(){
		$.ajax({
			url: "/data/facebook_post",
			type: "POST",
			success: function(data) {
				if(data == "no connect")
					alert("<%=t :needfblogin%>");
				else{
					alert("<%=t :facebookshared%>");
					document.location.reload(true)
				}
			}
		});
	}
	function remove_btn_class(){
		$("#independance").removeClass("active");
		$("#betray").removeClass("active");
		$("#seize").removeClass("active");
	}
	function betray_dialog(node_id){
		$.ajax({
			url: "/data/user.json",
			type: "POST",
			data: {
				user_id: node_id, // if user_id == 0 then get session user
				code : 4
			},
			success: function(data) {
				user = data.user
				rank = data.rank
				set_dialog_html("Betray", user, data.is_function_possible, data.limit_point, data.limit_node_cnt, rank)
			}
		});
	}

	function seize_dialog(node_id){
		$.ajax({
			url: "/data/user.json",
			type: "POST",
			data: {
				user_id: node_id, // if user_id == 0 then get session user
				code : 5
			},
			success: function(data) {
				user = data.user
				rank = data.rank
				set_dialog_html("Seize", user, data.is_function_possible, data.limit_point, data.limit_node_cnt,rank)
			}
		});
	}


	function information_dialog(node_id){
		$.ajax({
			url: "/data/user.json",
			type: "POST",
			data: {
				user_id: node_id, // if user_id == 0 then get session user
				code : 4
			},
			success: function(data) {
				user = data.user
				rank = data.rank
				set_dialog_html("Information", user, data.is_function_possible, data.limit_point, data.limit_node_cnt, rank)
			}
		});
	}

	function set_dialog_html(function_type, user, is_possible, limit_point, limit_node_cnt,rank){
		console.log(rank)
		$("#dialog_title").text(ment_set(function_type) + " - " + user.banner);
		$("#dialog_name").text(user.username);
		$("#dialog_point").text("<%= t :mark %>" + user.point +"<%= t :unit %>");
		$("#dialog_node_cnt").text(user.node_cnt - 1);
		$("#dialog_rank_node_cnt").text(rank["node_cnt_rank"]);
		$("#dialog_rank_point").text(rank["point_rank"]);
		$("#dialog_image").attr("src",user.picture);
		var html = ""
		var my_id=<%=@user.id%>;
		if(function_type == "Information"){
			console.log("my_id" + my_id)
			console.log("node_id" +node_id)
			if(node_id != my_id){ //나이면 아무것도 안뜸
				html += "<button onclick='betray_dialog(node_id)'><%=t :binfo%></button>  <button onclick='seize_dialog(node_id)'><%=t :sinfo%></button>"
			}else{
				html += "<%=t :cant_me%>"
			}
		}else{
			ancestor_ids=<%=@ancestors%>
			descendant_ids=<%=@descendants%>
			console.log("ANC" + ancestor_ids)
			console.log("DES" + descendant_ids)
			if(node_id == my_id){
				html += "<%=t :cant_me%>"
			}else if(function_type == "Seize" && ancestor_ids.indexOf(node_id)>=0){
				html += "<%=t :cant_ancestor_seize%>"
			}else if(function_type == "Betray" && descendant_ids.indexOf(node_id)>=0){
				html += "<%=t :cant_descendant_betray%>"
			}else if(is_possible){
				html += '<h3>' + want_ment_set(function_type) + '</h3>' 
							+	'<p>' + ment_set(function_type) + ' <%=t :condition%> :<br>'
							+ '<%=t :money%> >= '+ limit_point +'(<%=t :point_deduct%>)<br>'
							+ '<%=t :child_count%> >= '+ (limit_node_cnt ) +'</p>'
							+ '<button onclick=\'dialog_yes("' + function_type.toLowerCase() + '")\'>Yes</button>'
							+ '<button onclick=\'dialog_no("'+ function_type.toLowerCase() + '")\'>No</button>';
			}else{
				html += '<h3><%=t :you_cannot%> ' + ment_set(function_type) + '!</h3>'
							+ '<p>' + ment_set(function_type) + ' <%=t :condition%> :<br>'
							+ '<%=t :money%> >= '+ limit_point +'<br>'
							+ '<%=t :child_count%> >= '+ (limit_node_cnt ) +'</p>';
			}
		}
		$("#dialog_button").html(html)
		$("#dialog").show();
	}
	function ment_set(function_type){
		console.log(function_type);
		if(function_type.toLowerCase() == "information")
			return "<%= t :information%>"
		else if(function_type.toLowerCase() == "independance")
			return "<%= t :independance%>"
		else if(function_type.toLowerCase() == "betray")
			return "<%= t :betray%>"
		else if(function_type.toLowerCase() == "seize")
			return "<%= t :seize%>"
	}
	function want_ment_set(function_type){
		console.log(function_type);
		if(function_type.toLowerCase() == "independance")
			return "<%= t :want_ind%>"
		else if(function_type.toLowerCase() == "betray")
			return "<%= t :want_betray%>"
		else if(function_type.toLowerCase() == "seize")
			return "<%= t :want_seize%>"
	}
	function family_mode(){
		$(".sigma_edges_canvas").remove()
		$(".sigma_nodes_canvas").remove()
		$(".sigma_labels_canvas").remove()
		$(".sigma_hover_canvas").remove()
		$(".sigma_moniter_canvas").remove()
		$(".sigma_mouse_canvas").remove()

		$("#all_mode").removeClass("active")
		$("#family_mode").addClass("active")
		init('family')
	}
	function all_mode(){
		$(".sigma_edges_canvas").remove()
		$(".sigma_nodes_canvas").remove()
		$(".sigma_labels_canvas").remove()
		$(".sigma_hover_canvas").remove()
		$(".sigma_moniter_canvas").remove()
		$(".sigma_mouse_canvas").remove()



		$("#family_mode").removeClass("active")
		$("#all_mode").addClass("active")

		init('all')
	}


//})
</script>

<style type="text/css">
	/* sigma.js context : */
	.sigma-parent {
			background-image: url('/img/s1.png'), url('/img/s2.png'), url('/img/s3.png');
			-webkit-animation: snow 10s linear infinite;
			-moz-animation: snow 10s linear infinite;
			-ms-animation: snow 10s linear infinite;
			animation: snow 10s linear infinite;


		background-color:rgba(2,2,2,0.5);
		position: relative;
		margin-top:20px;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		height: 600px;
	}
	.sigma-expand {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.buttons-container{
		padding-bottom: 8px;
		padding-top: 12px;
	}
	@media all and (max-width:480px){
		.dialog_style{
			position: absolute;
			left: 0;
			top: 200px;
			display: none;
		}
		.sigma-parent{
		}

	}
	@media all and (min-width:480px){
		.dialog_style{
			position: absolute;
			left: 20%;
			top: 200px;
			display: none;
		}
		.sigma-parent{
		}
		body {
			padding:20px

	 	}

		.over_div{
		}
		@keyframes snow {
			0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
			50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
			100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
		}
		@-moz-keyframes snow {
			0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
			50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
			100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
		}
		@-webkit-keyframes snow {
			0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
			50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
			100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
		}
		@-ms-keyframes snow {
			0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
			50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
			100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
		}
	}
	.audiojs{
		display:none;
	}
	.friend_pic{
		width:40px;
		height:40px;
	}
	.dialog_image{
		width: 100px;
		height: 100px;
	}
	.rank_div{
		overflow:scroll;
		height : 470px;
	}
	table, tr, td, th {
		text-align:center;
	}
	.function_icon{
		height:20px;
		width:20px;
	}
	.btn{
		font-size:20px;
		padding-top:3px;
		padding-bottom:3px;

	}
	.nav-tabs>li>a {
		font-size:16px;

	}
	.nav-tabs>li>a {
		color:#b94a48;
	}
	
	body {
		color:#555;
	}
	.function_button {
		font-size:23px;
	}
</style>
<!--<audio src="/sound/starwars.mp3" preload="auto" autoplay="autoplay" loop="loop" style="width:0" /> -->

