<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=215886731905255";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<style>
@media all and (min-width:480px){ body { padding:20px }}
</style>
<script src="/audiojs/audio.min.js"></script>
<script>
	audiojs.events.ready(function() {
		var as = audiojs.createAll();
	});
</script>
<div class="container-responsive">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
			<div class="page-header">
				<h1>:: I AM YOUR FATHER <small><%=t :subtitle %></small></h1>
			</div>
			<div class="sigma-parent" id="sigma-example-parent">
				<div class="sigma-expand" id="sigma-example"></div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3" id="dashboard">
			<div class="panel panel-<%=%w[info warning success danger].sample-%>" style="display:block;min-height:720px;">
				<div class="panel-heading">Dashboard - <%=t :language %> : <a href="/?lang=ko">Kor</a> / <a href="/?lang=en">Eng</a></div>
				<div class="panel-body">
					<h2><%=t :iam %>: <%=@user.username-%></h2>
					<%if @facebook_login%>
						<%= link_to "Sign out", signout_path, id: "sign_out", class:"btn btn-primary btn-sm" %>
					<%else%>
						<%= link_to "Facebook Login", "/auth/facebook", id: "sign_in", class:"btn btn-primary btn-sm" %>
					<%end%>
					 <hr>

					 <h3><%=t :child_count %> : <%=@user.node_cnt%></h3>
					<p><%=t :shareinfo %></p>
					<input type="text" value="http://i-am-your-father.com/<%=@user_id-%>" style="width:100%"/>
					<%if @facebook_login%>
						<button type="button" onclick="facebook_post();" data-loading-text="Sharing..." class="btn btn-primary btn-sm">
							Facebook Share
						</button>
						<!--<a href="#" onclick="facebook_post();"><img src="/img/fbshare.png" border=0 ></a>-->
					<%else%>
						<div class="fb-share-button" data-href="http://i-am-your-father.com/<%=@user.id%>" data-width="100" data-type="button_count"></div>
					<%end%>
					<h3><%=t :your_father-%> : <a href="#" onclick="information_dialog(<%=@father.id%>);"><%=@father.username%></a></h3>
			
					<hr>
					<h3><%=t :money %> : <%=t :mark %><%=@user.point-%><%= t :unit %></h3>
					<h3><%=t :banner %> : <%=@user.banner%>
						<button onclick="change_banner()" style="width:19%;font-size:13px"><%=t :edit%></button>
					</h3>
					<hr>
					<div class="list-group">
						<a href="#" class="list-group-item" id="independance"><center><%=t :iinfo %></center></a>
						<a href="#" class="list-group-item" id="betray"><center><%=t :binfo %></center></a>
						<a href="#" class="list-group-item" id="seize"><center><%=t :sinfo %></center></a>
					</div>
					<hr>
					<h3>
						<%=t :fblist %>
					</h3>
						<input type="text" id="friend_search" placeholder="search">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th><%=t :name %></th>
								<th><%=t :money %></th>
								<th><%=t :state %></th>
							</tr>
						</thead>
						<tbody id="friends_list">

						</tbody>
					</table>
					<center>
						<ul id="friends_pagination" class="pagination">
						</ul>
					</center>
				</div>
			</div>
		</div>
	</div>
	<div id="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick='dialog_no(1)'>&times;</button>
					<h4 class="modal-title" id="dialog_title">title</h4>	
				</div>
				<div class="modal-body" style="min-height:150px">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<img id="dialog_image" src="" style="width:100px;height:100px">
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
						<table>
							<tr>
								<th><strong><%=t :name%></strong></th>
								<th><span id="dialog_name">Username</span></th>
							</tr>
							<tr>
								<th><strong><%=t :banner%></strong></th>
								<th><span id="dialog_banner">Banner</span></th>
							</tr>
							<tr>
								<th><strong><%=t :money%></strong></th>
								<th><span id="dialog_point">Point</span></th>
							</tr>
							</table>
							<hr>
						</div>
						<div id="dialog_button" class="row-fluid">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript">
	const NORMAL = 0;
	const BETRAY = 1;
	const SEIZE = 2;

	var node_id = null;
	var nodes = null;
	var groups = null;
	var function_type = NORMAL; //type : null, betray, seize
	var friends_list = {}
	var original_friends_list = {}
	var friends_cnt = 0
	var original_friends_cnt = 0
	var friends_cnt_per_page = 5
	var limit_page = 0;
	var sigInst = null;

	$(function(){
		groups = <%=@groups%>;
		//console.log(groups);
		$("#dialog").hide();
		<%if @is_point_get_login%>
			alert("<%=t :loginearn%> : <%=t :mark%><%=@login_point%><%=t :unit%>")
		<%end%>

		<%=render :partial => 'map/friends'%>
		
		<%=render :partial => 'map/node_click_event'%>

		init()

		$("#friend_search").bind("keyup input paste",function(){
			str = $("#friend_search").val().toLowerCase()
			console.log(str);
			if(str == ''){
			console.log("empty");
				friends_list = original_friends_list
				console.log(friends_list)
				friends_list_cnt = original_friends_list.length
			}else{
				var arr_temp = new Array;
				for(i=0;i<original_friends_list.length;i++){
					var check = original_friends_list[i]["name"].toLowerCase().match("^"+str)
					if(!check && original_friends_list[i]["name"].toLowerCase().localeCompare(str)>0)
						break
					if(check){
						arr_temp.push(original_friends_list[i]);
					}
				}
				friends_list = arr_temp
				friends_cnt = arr_temp.length
			}
			friends_pagination(1);
		});
	});

	<%=render :partial => 'map/sigma_js'%>

	function dialog_yes(function_type){
		$.ajax({
			url: "/map/"+function_type,
			type: "POST",
			data: {
				user_id: node_id // if user_id == 0 then get session user
			},
			success: function(data) {
				alert(function_type +" complete");
				location.reload(true);
			}
		});
		remove_btn_class();
	}

	function dialog_no(function_type){
		remove_btn_class();
		$("#dialog").hide();
	}
	function friends_page(num){
		var start = friends_cnt_per_page * (num - 1)
		var end = friends_cnt_per_page * num ; 
		var html =""
		for(i=start;i<end;i++){
			if(i >= friends_cnt){
				break;
			}
			html += "<tr>\n"
				+ "<td><img src='" + friends_list[i]["pic"] + "' class='friend_pic'></td>\n"
				+ "<td><a href='" + friends_list[i]["uid"] + "'>" + friends_list[i]["name"] + "</td>\n"
			if(friends_list[i]["joined"] == true){
				html += "<td>" + friends_list[i]["point"] + "</td>\n"
				//TODO change this
							+ "<td>Joined</td>\n";
			}else{
				html += "<td>-</td>\n"
					+ '<td><a href="/auth/facebook" onclick="invitation('+friends_list[i]["uid"] + ')" class="btn"><button type="button" class="btn btn-primary btn-xs">Invite</button></a>';
			}

			html += "</tr>\n"
		}
		$("#friends_list").html(html);
	}

	function friends_pagination(page_num){
		if(page_num < 1)
			page_num = 1
		var limit = 5
		var start = limit * (page_num - 1) + 1
		var cnt = parseInt(friends_cnt / friends_cnt_per_page + 0.99)
		var end = limit * page_num
		var html = ""

		html += "<li><a href='#' onclick='friends_pagination("+(page_num - 1)+")'>«</a></li>"
		for(i=start;i<=end;i++){
			if(i >= cnt)
				break;
			html += "<li><a href='#' onclick='friends_page("+ i +");'>" + i + "</a></li>"
		}

		html += "<li><a href='#' onclick='friends_pagination("+(page_num+1)+")'>»</a></li>"
		$("#friends_pagination").html(html);
		friends_page(start);
	}

	function invitation(uid){
		$.ajax({
			url: "/data/send_invitation",
			type: "POST",
			data: {
				uid: uid
			},
			success: function(data) {
			alert("<%=t :facebookinvited%>")
			}
		});
	}

	function facebook_post(){
		$.ajax({
			url: "/data/facebook_post",
			type: "POST",
			success: function(data) {
				if(data == "no connect")
					alert("<%=t :needfblogin%>");
				else{
					alert("<%=t :facebookshared%>");
					document.location.reload(true)
				}

			}
		});
	}
	function remove_btn_class(){
		$("#independance").removeClass("active");
		$("#betray").removeClass("active");
		$("#seize").removeClass("active");
	}
function information_dialog(node_id){
	$.ajax({
		url: "/data/user.json",
		type: "POST",
		data: {
			user_id: node_id, // if user_id == 0 then get session user
			code : 4
		},
		success: function(data) {
			user = data.user
			set_dialog_html("Information", user, data.is_function_possible, data.limit_point, data.limit_node_cnt)
		}
	});
}
function set_dialog_html(function_type, user, is_possible, limit_point, limit_node_cnt){
	$("#dialog_title").text(ment_set(function_type));
	$("#dialog_name").text(user.username);
	$("#dialog_banner").text(user.banner);
	$("#dialog_point").text("<%= t :mark %>" + user.point +"<%= t :unit %>");
	$("#dialog_image").attr("src",user.picture);
	var html 
	if(function_type == "Information"){
		html = ""
		//html = "<button><%=t :binfo%></button><button><%=t :sinfo%></button>"
	}else{
		if(is_possible){
			html += '<h3><%=t :want_ind%></h3>' 
						+	'<p>' + ment_set(function_type) + ' <%=t :condition%> :<br>'
						+ '<%=t :money%> > '+ limit_point +'(Point will be deducted.)<br>'
						+ '<%=t :child_count%> > '+ limit_node_cnt +'</p>'
						+ '<button onclick=\'dialog_yes("' + function_type.toLowerCase() + '")\'>Yes</button>'
						+ '<button onclick=\'dialog_no("'+ function_type.toLowerCase() + '")\'>No</button>';
		}else{
		html = '<h3><%=t :you_cannot%> ' + ment_set(function_type) + '!</h3>'
						+ '<p>' + ment_set(function_type) + ' <%=t :condition%> :<br>'
						+ '<%=t :money%> > '+ limit_point +'<br>'
						+ '<%=t :child_count%> > '+ limit_node_cnt +'</p>';
		}
	}
	$("#dialog_button").html(html)
	$("#dialog").show();
}
function ment_set(function_type){
	console.log(function_type);
	if(function_type == "Information")
		return "<%= t :information%>"
	else if(function_type == "Independance")
		return "<%= t :independance%>"
	else if(function_type == "Betray")
		return "<%= t :betray%>"
	else if(function_type == "Seize")
		return "<%= t :seize%>"
}
</script>

<style type="text/css">
	/* sigma.js context : */
	.sigma-parent {
		border:5px solid red;
		position: relative;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		background: #222;
		background-image: url('/img/background.gif');
		height: 600px;
	}
	.sigma-expand {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.buttons-container{
		padding-bottom: 8px;
		padding-top: 12px;
	}
@media all and (max-width:480px){
	#dialog{
		position: absolute;
		left: 0;
		top: 200px;
	}
}
@media all and (min-width:480px){
	#dialog{
		position: absolute;
		left: 20%;
		top: 200px;
	}
}
	.audiojs{
		display:none;
	}
	.friend_pic{
		width:40px;
		height:40px;
	}
	.dialog_image{
		width: 100px;
		height: 100px;
	}
	table, tr, td, th {
		text-align:center;
	}
</style>
<!--<audio src="/sound/starwars.mp3" preload="auto" autoplay="autoplay" loop="loop" style="width:0" /> -->

