<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=215886731905255";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<style>
body { padding:20px }
</style>
<script src="/audiojs/audio.min.js"></script>
<script>
	audiojs.events.ready(function() {
		var as = audiojs.createAll();
	});
</script>
<div class="container-responsive">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
			<div class="page-header">
				<h1>:: I AM YOUR FATHER <small><%=t :subtitle %></small></h1>
			</div>
			<div class="sigma-parent" id="sigma-example-parent">
				<div class="sigma-expand" id="sigma-example"></div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3" id="dashboard">
			<div class="panel panel-<%=%w[info warning success danger primary].sample-%>" style="display:block;min-height:720px;">
				<div class="panel-heading">Dashboard</div>
				<div class="panel-body">

					<h2><%=t :iam %>: <%=@user.username-%></h2>
					<%if @facebook_login%>
						<%= link_to "Sign out", signout_path, id: "sign_out", class:"btn" %>
					<%else%>
						<%= link_to "Facebook Login", "/auth/facebook", id: "sign_in", class:"btn btn-primary" %>
					<%end%>
								 <hr>

					<p><%=t :shareinfo %></p>
					<p><u>http://local.youthhogoo.com/<%=@user_id-%></u></p>
					<div class="fb-share-button" data-href="http://local.youthhogoo.com/<%=@user_id%>" data-width="100" data-type="button_count"></div>
					<hr>
					<h2><%=t :money %> : <%=t :mark %><%=@user.point*1000-%><%= t :unit %></h2>
					<button id="independance">Independance</button>
					<button id="betray">Betray</button>
					<button id="seize">Seize</button>
					<hr>
					<h3><%=t :fblist %></h3>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Friend Name</th>
								<th>Point</th>
								<th>State</th>
							</tr>
						</thead>
						<tbody id="friends_list">
					</tbody>
					</table>
					<center>
						<ul id="friends_pagination" class="pagination">
						</ul>
					</center>
				</div>
			</div>
		</div>
	</div>
	<div id="dialog">
		<div class="row-fluid">
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<span id="dialog_title">title</span>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<a href="#" onclick='$("#dialog").hide()'>X</a><br>
			</div>
		</div>
		<div class="row-fluid">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<img id="dialog_image" src="">
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<table>
					<tr>
						<th>name :</th>
						<th><span id="dialog_name">Username</span></th>
					</tr>
					<tr>
						<th>Banner :</th>
						<th><span id="dialog_banner">Banner</span></th>
					</tr>
					<tr>
						<th>Money :</th>
						<th><span id="dialog_point">Point</span></th>
					</tr>
				</table>
			</div>
		</div>
		<div id="dialog_button" class="row-fluid">
		</div>
	</div>

<script type="text/javascript">

	const NORMAL = 0;
	const BETRAY = 1;
	const SEIZE = 2;

	var node_id = null;
	var nodes = null;
	var groups = null;
	var function_type = NORMAL; //type : null, betray, seize
	var friends_list = {}
	var friends_cnt = 0
	var friends_cnt_per_page = 5
	var limit_page = 0;

	$(function(){
		groups = <%=@groups%>;
		//console.log(groups);
		$("#dialog").hide();
		<%if @is_point_get_login%>
			alert("You get Login Point <%=@login_point%>")
		<%end%>

		<%=render :partial => 'map/friends'%>
		
		<%=render :partial => 'map/node_click_event'%>
		sigInst.draw();

	});

	<%=render :partial => 'map/sigma_js'%>

	function dialog_yes(function_type){
		$.ajax({
			url: "/map/"+function_type,
			type: "POST",
			data: {
				user_id: node_id // if user_id == 0 then get session user
			},
			success: function(data) {
				alert(function_type +" complete");
				location.reload(true);
			}
		});
	}

	function dialog_no(function_type){
		$("#dialog").hide();
	}
	function friends_page(num){
		var start = friends_cnt_per_page * (num - 1)
		var end = friends_cnt_per_page * num ; 
		var html =""
		for(i=start;i<end;i++){
			if(i >= friends_cnt){
				break;
			}
			html += "<tr>\n"
				+ "<td><img src='" + friends_list[i]["pic"] + "' class='friend_pic'></td>\n"
				+ "<td><a href='" + friends_list[i]["uid"] + "'>" + friends_list[i]["name"] + "</td>\n"
			if(friends_list[i]["joined"] == true){
				html += "<td>" + friends_list[i]["point"] + "</td>\n"
				//TODO change this
							//+ "<td>Joined</td>\n";
					+ '<td><a href="/auth/facebook" onclick="invitation(' + friends_list[i]["uid"] + ')" class="btn">Invite</a>'
			}else{
				html += "<td>-</td>\n"
					+ '<td><a href="/auth/facebook" onclick="invitation('+friends_list[i]["uid"] + ')" class="btn">Invite</a>'
			}

			html += "</tr>\n"
		}

		$("#friends_list").html(html);
	}

	function friends_pagination(page_num){

		var limit = 5
		var start = limit * (page_num - 1) + 1
		var cnt = parseInt(friends_cnt / friends_cnt_per_page + 0.99)
		var end = limit * page_num
		var html = ""

		html += "<li><a href='#' onclick='friends_pagination("+(page_num-1)+")'>«</a></li>"
		for(i=start;i<=end;i++){
			if(i >= cnt)
				break;
			html += "<li><a href='#' onclick='friends_page("+ i +");'>" + i + "</a></li>"
		}

		html += "<li><a href='#' onclick='friends_pagination("+(page_num+1)+")'>»</a></li>"
		$("#friends_pagination").html(html);
		friends_page(start);
	}

	function invitation(uid){
		$.ajax({
			url: "/data/send_invitation",
			type: "POST",
			data: {
				uid: uid
			},
			success: function(data) {
				alert("facebook invitation complete")
			}
		});
	}

	function facebook_post(){
		$.ajax({
			url: "/data/facebook_post",
			type: "POST",
			success: function(data) {
				if(data = "no connect")
					alert("You have to connect with facebook");
				else
					alert("facebook share complete");

			}
		});
	}
</script>

<style type="text/css">
	/* sigma.js context : */
	.sigma-parent {
		position: relative;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		background: #222;
		background-image: url('/img/background.png');
		height: 600px;
	}
	.sigma-expand {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.buttons-container{
		padding-bottom: 8px;
		padding-top: 12px;
	}
	#dialog{
		position: absolute;
		left: 50px;
		top: 50px;
		width: 300px;
		height: 300px;
		background-color:blue;
	}
	.audiojs{
		display:none;
	}
	.friend_pic{
		width:40px;
		height:40px;
	}
</style>
<!--<audio src="/sound/starwars.mp3" preload="auto" autoplay="autoplay" loop="loop" style="width:0" /> -->

